/* .css-1t1j96h-MuiPaper-root-MuiDialog-paper
{
    width: 260px !important;
    height: 175px !important;
    border-radius: 10px !important;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
} */

.new_task{
    font-family: sans-serif;
    color: #537178;
    font-size: 20px;
    opacity: 1;
}

.addTask_button_dialog {
    width: 100%;
    margin-top: 15px !important;
}

.button_display_dialog{
    justify-content: center;
    display: flex;
}
